<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="SSGL.Properties.Settings.ssglConnectionString" connectionString="Data Source=IA8WDVRQ4S47OAR;Initial Catalog=ssgl;User ID=sa;Password=1"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>